@*@model IEnumerable<wn_web.Models.Reclaimation.DesktopReview>*@
@model PagedList.IPagedList<wn_web.Models.Reclaimation.DesktopReview>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FacilityType.FacilityTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Landscape.LandscapeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LSDQuarter.AspectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RelevantCriteria.RelevantCriteriaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Soil.SoilName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Vegetation.VegetationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ApprovalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().WorkPhase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Occupant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OccupantInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SoilClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SoilGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ERCBLic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AreaHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AreaAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Northing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Easting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Elevation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SurveyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ConstructionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SpudDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AbandonmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReclamationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RCADate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RCNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DSAComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Exemptions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AmendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AmendDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RevegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RevegDetail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityType.FacilityTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landscape.LandscapeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LSDQuarter.AspectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelevantCriteria.RelevantCriteriaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soil.SoilName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vegetation.VegetationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupantInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoilClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoilGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERCBLic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Northing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Easting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elevation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstructionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpudDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbandonmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReclamationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RCADate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RCNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DSAComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exemptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmendDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevegDetail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesktopReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesktopReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesktopReviewID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",   new { page }))

