@model IEnumerable<WN_Reclaimation.Models.DesktopReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityType.FacilityTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityType.FacilityTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesktopReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesktopReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesktopReviewID })
        </td>
    </tr>
}

</table>
